<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>STUDENTS</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <br>
    <br>

<!--<a href="{% url 'logout' %}" class="btn btn-danger float-right">Logout</a>-->

    <div class="container">
        <a href="{% url 'logout' %}" class="btn btn-primary btn-lg btn-block">Logout</a>
        <br>
        <br>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Gender</th>
                    <th>Birth Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for s in std %}
                <tr>
                    <td>{{  s.roll_no  }}</td>
                    <td>{{  s.name  }}</td>
                    <td>{{  s.city  }}</td>
                    <td>{{  s.gender  }}</td>
                    <td>{{  s.bday  }}</td>
                    <td><a href="{% url 'update_st' s.roll_no %}">Edit</a> </td>
                    <td><a href="{% url 'delete_st' s.roll_no %}">Delete</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>

        <a href="{% url 'logout' %}" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Add Student</a>

    </div>
    <div class="container">
        <!-- The Modal -->
      <div class=   "modal" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Insert Student Data</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="form-group" method="POST" action="{% url 'students' %}">
                    {% csrf_token %}
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label label-default" for="name">User Name</label>
                            <input class="form-control" type="text" id="name" name="name" required>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label label-default" for="roll_no">Roll Number</label>
                            <input class="form-control" type="text" id="roll_no" name="roll_no" required>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label label-default" for="city">City</label>
                            <input class="form-control" type="text" id="city" name="city" required>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label label-default" for="bday">Birth Date</label>
                            <input class="form-control" type="date" id="bday" name="bday" required>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group">
                          <label class="label label-default" >Gender</label>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" value="m" name="gender">Male</input>
                                    <input type="radio" class="form-check-input" value="f" name="gender">Female</input>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="school_id">Select School</label>
                               <select class="form-control" id="school_id" name="school_id">
                                {% for school in schools %}
                                <option value="{{ school.id }}">{{ school.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>

            </div>
            </form>

          </div>
        </div>
      </div>
    </div>



    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>